{{!-- {{labs-site-header}} --}}
<div class="site-main grid-x grid-padding-x grid-padding-y route-{{currentRouteName}}">
  <div class="cell">

    <h1>Labs Layers</h1>

    {{#mapbox-gl
      id='map'
      mapLoaded=(action 'handleMapLoad')
    }}

    {{/mapbox-gl}}

    <form {{action 'getLayerGroups' on='submit'}}>
      <fieldset>
        {{input type="checkbox" checked=taxLots id="checkbox-taxLots"}}<label for="checkbox-taxLots">Tax Lots</label>
        {{input type="checkbox" checked=zoningDistricts id="checkbox-zoningDistricts"}}<label for="checkbox-zoningDistricts">Zoning Districts</label>
      </fieldset>
      {{textarea style="width:100%;" rows="6" value=layerGroupsJSON}}
      <button type="submit" class="button">POST</button>
    </form>

    {{outlet}}

  </div>
</div>
