{{!-- {{labs-site-header}} --}}
<div class="site-main grid-x grid-padding-x grid-padding-y route-{{currentRouteName}}">
  <div class="cell">

    <h1>Labs Layers</h1>

    {{#mapbox-gl
      id='map'
      mapLoaded=(action 'handleMapLoad')
    }}

    {{/mapbox-gl}}

    <label>{{input type="checkbox" checked=taxLots}} Tax Lots</label>
    <label>{{input type="checkbox" checked=zoningDistricts}} Zoning Districts</label>

    <form {{action 'getLayerGroups' on='submit'}}>
      {{textarea style="width:100%;" rows="6" value=layerGroupsJSON}}
      <button type="submit" class="button">POST</button>
    </form>

    {{outlet}}

  </div>
</div>
